{% load pinax_announcements_tags %}
<html>
	<head>
		<body>
			    <h3>Announcements</h3>

    {% announcements as announcement_list %}

    {% if announcement_list %}
        <div class="announcements">
            {% for announcement in announcement_list %}
                <div class="announcement">
                    <strong>{{ announcement.title }}</strong><br />
                    {{ announcement.content }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
		</body>
	</head>
</html>
